<p>built-in-pipes works!</p>
<h3>DatePipe Example</h3>
<p>{{today | date}}</p>
<p>{{today | date:'shortDate'}}</p>
<p>{{today | date:'dd-mm-yyyy'}}</p>
<h3>UpperCasePipe Example</h3>
<p>{{text | uppercase}}</p>
<h3>Lower case pipe Example</h3>
<p>{{text | lowercase}}</p>

<h3>CurrencyPipe Example</h3>
<p>{{amount | currency}}</p>
<p>{{amount | currency:"INR"}}</p>

<h3>DecimalPipe Example</h3>
<p>{{percentValue | number}}</p>
<p>{{percentValue | number:"1.2-2"}}</p>
<h3>PercentPipe Example</h3>
<p>{{percentValue | percent:"1.2-2"}}</p>
<h3>Json pipe Example</h3>
<p>{{jsonValue | json}}</p>
<h3>Slice pipe Example</h3>
<p>{{myArray | slice: 1:3}}</p>
<h3>KeyValue Pipes Example</h3>
<ul>
    <li *ngFor="let item of myObject |keyvalue">
        {{item.key}}:{{item.value}}
    </li>
</ul>